---
layout: layouts/home.njk
permalink: /movies/
eleventyNavigation:
  key: Movies
  order: 2
---

<h1>Movies List</h1>

<h3 style="width:100%;text-align:center">Editing In Progress, No Ratings Yet</h3>
{% set postslist = collections.movies %}
{% include "postslist.njk" %}
