---
layout: layouts/home.njk
permalink: /tv/
eleventyNavigation:
  key: TV
  order: 2
---

<h1>TV Shows List</h1>

<h3 style="width:100%;text-align:center">Editing In Progress, No Ratings Yet</h3>
{% set postsList = collections.filteredTvShows %}
{% set showList = collections.tvShowList %}
{% include "tvlist.njk" %}
