---
layout: layouts/base.njk
templateClass: tmpl-post
---
<div class="movie-header">
  <h1>{{ title }}</h1>
  {% if imdb %}<a href={{ imdb }} target="_blank"><i class="fa fa-imdb" aria-hidden="true"></i></a>{% endif %}
  {% if rating %}
  <div id="rating">
    {% for i in range(0, 7) -%}
      <span class="fa fa-star {% if i < rating %}checked{% endif %}"></span>
    {%- endfor %}
  </div>
  {% endif %}
  {# <time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time> #}
</div>

<div class="movie-review">
  {{ content | safe }}
</div>

<div class="movie-footer">
  {%- if collections.movies %}
  {%- set nextPost = collections.movies | getNextCollectionItem(page) %}
  {%- set previousPost = collections.movies | getPreviousCollectionItem(page) %}
  {%- if nextPost or previousPost %}
  <hr>
  <div class="post-footer">
    {%- if nextPost %}<div><i class="fa fa-arrow-left" aria-hidden="true"></i>&nbsp&nbsp<a href="{{ nextPost.url | url }}">{{ nextPost.data.title }}&nbsp({{ nextPost.data.year }})</a></div>{% else %}
    <div><a href="/">Home</a></div>
    {% endif %}
    {%- if nextPost %}<a href="/" class="home"><i class="fa fa-home" aria-hidden="true"></i></a>{% endif %}
    {%- if previousPost %}<div><a href="{{ previousPost.url | url }}">{{ previousPost.data.title }}&nbsp({{ previousPost.data.year }})</a>&nbsp&nbsp<i class="fa fa-arrow-right" aria-hidden="true"></i></div>{% endif %}
  </div>
  {%- endif %}
  {%- endif %}
</div>